// Color
$text-primary: #431dde;
$text-secondary: #c8cacc;
$text-black: #343434;
$text-light: #ffffff;
$text-danger:#dc3545;



// background-color
$bg-primary: #431dde;
$bg-secondary: #f4f4f4;
$bg-info: #f6f4ff;
$bg-light: #ffffff;


* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3,
button,
label {
    font-size: 12px;
}

h3 {
    display: flex;
}

input {
    width: 100%;
    height: 30px;
    border: 1px solid $text-secondary;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}

input:focus {
    border: 1px solid #545558;
}

.wrapper {
    background-color: $bg-secondary;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 265px;
    height: 362px;
    background-color: $bg-light;
    border-radius: 15px;
}

.item {
    line-height: 20px;
    margin: 10px 0;
}